In [1]:
import pandas as pd

df = pd.read_csv('exams.csv')
df.columns = [c.replace(' ','_') for c in df.columns]
originalFeatures = df.columns
print('originalFeatures count', len(originalFeatures))
print('originalFeatures', originalFeatures)
print(df.head())

originalFeatures count 8
originalFeatures Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')
   gender race/ethnicity parental_level_of_education         lunch  \
0    male        group A                 high school      standard
1  female        group D            some high school  free/reduced
2    male        group E                some college  free/reduced
3    male        group B                 high school      standard
4    male        group E          associate's degree      standard

  test_preparation_course  math_score  reading_score  writing_score
0               completed          67             67             63
1                    none          40             59             55
2                    none          59             60             50
3                    none          77             78             68
4               completed          78             73             68

In [2]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [3]:
df.describe()

        math_score  reading_score  writing_score
count  1000.000000    1000.000000    1000.000000
mean     66.396000      69.002000      67.738000
std      15.402871      14.737272      15.600985
min      13.000000      27.000000      23.000000
25%      56.000000      60.000000      58.000000
50%      66.500000      70.000000      68.000000
75%      77.000000      79.000000      79.000000
max     100.000000     100.000000     100.000000

In [4]:
df.test_preparation_course.value_counts()

none         665
completed    335
Name: test_preparation_course, dtype: int64

In [5]:
335/665 #the data is slightly imbalanced but it's ok.

0.5037593984962406

In [6]:
X = df[['reading_score','math_score']]
y = df.test_preparation_course

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-0.13591401,  0.03923309],
       [-0.67902695, -1.714564  ],
       [-0.61113783, -0.48041049]])

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [9]:
X_train.shape

(750, 2)

In [10]:
X_test.shape

(250, 2)

In [11]:
y_train.value_counts()

none         499
completed    251
Name: test_preparation_course, dtype: int64

In [12]:
251/499

0.503006012024048

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=10)
scores

array([0.62, 0.66, 0.51, 0.54, 0.6 , 0.54, 0.52, 0.59, 0.49, 0.6 ])

In [14]:
scores.mean()

0.567

In [15]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator = DecisionTreeClassifier(),
                 n_estimators = 100,
                  max_samples=0.8,
                  oob_score=True,
                  random_state=0
                 )
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.5666666666666667

In [16]:
bag_model.score(X_test, y_test)

0.616

In [17]:
bag_model = BaggingClassifier(base_estimator = DecisionTreeClassifier(),
                 n_estimators = 100,
                  max_samples=0.8,
                  oob_score=True,
                  random_state=0
                 )

cross_val_score(bag_model, X, y, cv=10)
scores.mean()

0.567

In [18]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(), X, y, cv = 10)
scores.mean()

0.601